# Default ignored files
/../../rock_paper_scissors2 /.idea/shelf/
/../../rock_paper_scissors2 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../rock_paper_scissors2 /.idea/httpRequests/
# Datasource local storage ignored files
/../../rock_paper_scissors2 /.idea/dataSources/
/../../rock_paper_scissors2 /.idea/dataSources.local.xml
